<div class={{ styles.modal-container }}>
    <div class={{ styles.modal-popup-small }}>
        {{{ linkAddChatUser }}}
        {{{ linkDeleteChatUser }}}
        {{{ linkDeleteChat }}}        
    </div>
</div>
