<div class="{{ styles.auth-popup }}">
    <div class={{ styles.auth-container }}>
        <div class={{ styles.auth-header }}>Вход</div>
        <form class={{ styles.form }}>
            {{{ labelLogin }}}
            {{{ inputLogin }}}
            {{{ labelPassword }}}
            {{{ inputPassword }}}
            {{{ errorMessage }}}
            <div class="{{ styles.form-login-spacer }}">&nbsp;</div>
            <div class="form-buttons">
                {{{ buttonLogin }}}
                {{{ buttonSignup }}}
            </div>
        </form>
    </div>
</div>
