<div class={{ styles.modal-container }}>
    <div class={{ styles.modal-popup }}>
        <form method="post" class={{ styles.add-user-form }}>
            <div class={{ styles.avatar-modal-header }}>Добавить пользователя в чат:</div>
            {{{ inputUserLogin }}}
            {{{ errorMessage }}}
            {{{ buttonAdd }}}
        </form>
    </div>
</div>
