<div class={{ styles.modal-container }}>
    <div class={{ styles.modal-popup }}>
        <form method="post" class={{ styles.create-chat-form }}>
            <div class={{ styles.avatar-modal-header }}>Создать новый чат:</div>
            {{{ inputChatName }}}
            {{{ errorMessage }}}
            {{{ buttonCreate }}}
        </form>
    </div>
</div>
