<div class={{ styles.modal-container }}>
    <div class={{ styles.modal-popup }}>
        <form method="post" class={{ styles.avatar-form }}>
            {{{ inputChooseFile }}}
            <div class={{ styles.avatar-modal-header }}>Загрузите файл</div>
            <div class={{ styles.avatar-modal-choose-file-container }}>
                {{{ labelFileName }}}
                {{{ linkChooseFile }}}
            </div>
            {{{ buttonChange }}}
        </form>
    </div>
</div>
