<div class="{{ styles.profile-container }}">
    <div class={{ styles.profile-change-return }}>
        <div class={{ styles.arrow-button-container }}>
            {{{ linkProfileChangeReturn }}}
        </div>

    </div>
    <div class={{ styles.profile-info-container }}>
        <div class={{ styles.profile-info }}>
            {{{ avatarImage }}}
            <div class={{ styles.profile-info-fields-container }}>
                <div class={{ styles.profile-info-field }}>
                    {{{ labelEmail }}}
                    {{{ inputEmail }}}
                </div>
                <div class={{ styles.profile-info-field }}>
                    {{{ labelLogin }}}
                    {{{ inputLogin }}}
                </div>
                <div class={{ styles.profile-info-field }}>
                    {{{ labelFirstName }}}
                    {{{ inputFirstName }}}
                </div>
                <div class={{ styles.profile-info-field }}>
                    {{{ labelSecondName }}}
                    {{{ inputSecondName }}}
                </div>
                <div class={{ styles.profile-info-field }}>
                    {{{ labelDisplayName }}}
                    {{{ inputDisplayName }}}
                </div>
                <div class={{ styles.profile-info-field }}>
                    {{{ labelPhone }}}
                    {{{ inputPhone }}}
                </div>
            </div>
            {{{ errorMessage }}}
            {{{ buttonSave }}}
        </div>
    </div>
</div>