<div class='profile-container-wrapper'>
  {{> button-back}}
  <div class='profile-container'>
    <div class='profile-container__img-wrapper'>
      <img
        name="avatar"
        src='../asserts/avatar.svg'
        alt='avatar'
        class='profile-container__img--center'
      />
    </div>
    <form class="profile-container__form">
      {{#each data.fields}}
        <div class='field'>
          <label for={{fieldName}} class='field__label'>{{fieldLabel}}</label>
          <input
            type={{fieldType}}
            id={{fieldName}}
            class='field__input'
            name={{fieldName}}
            value={{value}}
          />
        </div>
      {{/each}}
      {{> button text=data.button.text class='u-margin-top-big'}}
    </form>
  </div>
</div>