<div class={{ styles.modal-container }}>
    <div class={{ styles.modal-popup }}>
        <form method="post" class={{ styles.delete-user-form }}>
            <div class={{ styles.avatar-modal-header }}>Удалить пользователя из чата:</div>
            {{{ inputUserLogin }}}
            {{{ errorMessage }}}
            {{{ buttonDelete }}}
        </form>
    </div>
</div>
