<div class="{{ styles.profile-container }}">
    <div class={{ styles.profile-change-password-return }}>
        <div class={{ styles.arrow-button-container }}>
            {{{ linkProfilePasswordReturn }}}
        </div>

    </div>
    <div class={{ styles.profile-info-container }}>
        <div class={{ styles.profile-info }}>
            {{{ avatarImage }}}
            <div class={{ styles.profile-info-fields-container }}>
                <div class={{ styles.profile-info-field }}>
                    {{{ labelOldPassword }}}
                    {{{ inputOldPassword }}}
                </div>
                <div class={{ styles.profile-info-field }}>
                    {{{ labelNewPassword }}}
                    {{{ inputNewPassword }}}
                </div>
                <div class={{ styles.profile-info-field }}>
                    {{{ labelNewPassword2 }}}
                    {{{ inputNewPassword2 }}}
                </div>
            </div>
            {{{ errorMessage }}}
            {{{ buttonSave }}}
        </div>
    </div>
</div>