<div class="{{ styles.auth-popup }}">
    <div class={{ styles.auth-container }}>
        <div class={{ styles.auth-header }}>Регистрация</div>
        <form class={{ styles.form }}>
            {{{ labelEmail }}}
            {{{ inputEmail }}}
            {{{ labelLogin }}}
            {{{ inputLogin }}}
            {{{ labelFirstName }}}
            {{{ inputFirstName }}}
            {{{ labelSecondName }}}
            {{{ inputSecondName }}}
            {{{ labelPhone }}}
            {{{ inputPhone }}}
            {{{ labelPassword }}}
            {{{ inputPassword }}}
            {{{ labelPassword2 }}}
            {{{ inputPassword2 }}}
            {{{ errorMessage }}}
            <div class="{{ styles.form-signup-spacer }}">&nbsp;</div>
            <div class="form-buttons">
                {{{ buttonSignup }}}
                {{{ buttonLogin }}}
            </div>
        </form>
    </div>
</div>