<div class={{ styles.modal-container }}>
    <div class={{ styles.modal-popup }}>
            <div class={{ styles.avatar-modal-header }}>Вы уверены?</div>
            <div class={{ styles.confirm-spacer }}>&nbsp;</div>
            {{{ buttonConfirm }}}
            {{{ buttonCancel }}}
        </form>
    </div>
</div>
