<div class="{{ class }}">
    {{#if imageBeforeSrc}}
    <img class="{{ imageBeforeClass }}" src="{{ imageBeforeSrc }}">
    {{/if}}
    {{#if text}}{{ text }}{{/if}}
    {{#if imageAfterSrc}}
    <img class="{{ imageAfterClass }}" src="{{ imageAfterSrc }}">
    {{/if}}
</div>